<!doctype html>

<html ng-app="app">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
    <script src="index.js"></script>
</head>

<body>

<div class="container" ng-controller="indexController">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div id="navbarNav" class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#" class="nav-link">Gainanov Market</a>
                </li>
                <li class="nav-item" ng-show="!isUserLoggedIn()">
                    <form ng-submit="tryToAuth()" class="align-middle">
                        <div class="input-group input-group-sm" style="padding: 4px;">
                            <input ng-model="user.username" type="text" id="navLoginField" class="form-control"
                                   aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">
                            <input ng-model="user.password" type="password" id="navPasswordField" class="form-control"
                                   aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">
                            <button id="navLoginSubmit" class="btn btn-outline-warning btn-sm" type="submit"
                                    style="margin-left: 10px;">
                                Login
                            </button>
                        </div>
                    </form>
                </li>
                <li class="nav-item" ng-show="isUserLoggedIn()" style="padding: 4px;">
                    <button class="btn btn-outline-secondary btn-sm" ng-click="tryToLogout()">
                        Logout
                    </button>
                </li>

                <li class="nav-item" style="padding: 4px;">
                    <button class="btn btn-outline-warning btn-sm" ng-click="authCheck()">Check Auth</button>
                </li>
            </ul>
        </div>
    </nav>

    <h1>Gainanov Market</h1>

    <h3>Product List</h3>
    <div style="float: right; padding: 10px; ">
        <button type="button" class="btn btn-danger" ng-click="clearCart()">Clear Cart</button>
    </div>

    <table class="table table-hover">
        <tr>
            <td>ID</td>
            <td>Title</td>
            <td>Price</td>
            <td></td>
        </tr>
        <tbody>
        <tr ng-repeat="p in productsList">
            <td>{{p.id}}</td>
            <td>{{p.title}}</td>
            <td>{{p.price}}</td>
            <td>
                <button type="button" class="btn btn-primary" ng-click="addToCart(p.id)">Add To Cart</button>
            </td>
        </tr>
        </tbody>
    </table>
    <p></p>
    <h1>Cart</h1>
    <table class="table table-hover">
        <tr>
            <td>Title</td>
            <td>Quantity</td>
            <td>Price</td>
            <td></td>
        </tr>
        <tbody>
        <tr ng-repeat="ci in cart.items">
            <td>{{ci.productTitle}}</td>
            <td>
                <button type="button" class="btn btn-warning" ng-click="removeFromCart(ci.productId)">-</button>
                {{ci.quantity}}
                <button type="button" class="btn btn-primary" ng-click="addToCart(ci.productId)">+</button>
            </td>
            <td>{{ci.price}}</td>
            <td>
                <button type="button" class="btn btn-dark" ng-click="removeProductLine(ci.productId)">Remove Product
                </button>
            </td>
        </tr>
        <tr>
            <td>Total</td>
            <td></td>
            <td>{{cart.totalPrice}}</td>
        </tr>
        </tbody>
    </table>
    <form ng-submit="createOrder()" class="align-middle" ng-show="isUserLoggedIn()">
        <div class="input-group input-group-sm" style="padding: 4px;">
            <input ng-model="order.address" type="text" id="navOrderAddress" class="form-control"
                   placeholder="Enter Address" aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">
            <input ng-model="order.phone" type="text" id="navOrderPhone" class="form-control" placeholder="Enter Phone"
                   aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">
            <button id="navOrderSubmit" class="btn btn-outline-warning btn-sm" type="submit"
                    style="margin-left: 10px;">
                Create Order
            </button>
        </div>
    </form>
    {{userOrders}}
</div>
</body>
</html>